
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);


.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
    background: rgb(76,180,196);
    background: linear-gradient(190deg, rgba(76,180,196,1) 0%, rgba(69,82,167,1) 51%, rgb(76, 71, 220) 100%);
    font-family: 'Courier New', 'Courier', sans-serif;
    color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.number
{
    position: relative;
    height: 100px;
    width: 200px;
}
.one-one
{
    background: white;
    width: 24px;
    height: 100px;
    position: absolute;
    top: -10px;
    left: 0;
    border-radius:3px;
    z-index: 10;
    box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
    
}
.one-two
{
    background: #fff;
    width: 20px;
    height: 40px;
    position: absolute;
    border-radius: 4px;
    top: -10px;
    left: -16px;
    transform: rotate(50deg);
    box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
}
.zero-one,
.zero-two
{
    z-index: 8;
width: 100px;
height: 100px;
box-sizing: border-box;
border: 24px solid #fff;
border-radius: 50%;
box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
position: absolute;
top: -9px;
left: 17px;
}
.zero-two
{
    z-index: 6;
    left: 100px;
}
.day
{
    line-height: 70px;
    font-size: 90px;
    font-weight: 700;
    left: -8px;
    position: absolute;
}
.ch-txt
{
    position: relative;
    z-index: 20;
    display: block; 
    font-size: 23px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .04em;
    top: 70px;
    left: -5px;

}